.readmore {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  .btn-outline {
    z-index: 95;
  }
}

.know-more {
  margin-top: 20px;
  display: inline-block;
}

.project-readmore {
  margin-top: -110px;
  margin-bottom: 0;
}