.card-about {
  --card-body-p: 3rem 1rem;
  --card-title-fs: clamp(30px, 80vw, 40px);
  text-align: center;
  @media  (min-width: 1920px) {
    --card-b: unset;
  }
  .card-body {
    width: clamp(320px, 80vw, 1100px);
    margin: auto;
    .section-badge {
      margin-bottom: 20px;
    }
    @media (max-width: 1600px) {
      width: auto;
    }
    @media (max-width: screen-size(sm)) {
      .card-title {
        font-size: 28px;
        line-height: 40px;
      }
    }
  }
}
