.card-team {
  --card-body-h: auto;
  --card-image-w: 200px;
  --card-image-h: 200px;
  --card-image-br: 50%;
  text-align: center;
  @media (min-width: 2260px) {
    --card-title-fs: clamp(18px, 80vw, 27px);
    --card-desc-size: clamp(14px, 80vw, 19px);
  }
  .card-image {
    overflow: hidden;
    background-color: var(--dark);
    margin: 20px auto 0px auto;
    padding: 1rem;
    border-left: 3px solid var(--primary);
    border-right: 3px solid var(--primary);
  }
}

.card-ceo {
  --card-image-w: 280px;
  --card-image-h: 280px;
  flex-direction: row;
  align-items: center;
  @media (max-width: screen-size(lg)) {
    flex-direction: column;
  }
  @media (max-width: screen-size(xs)) {
    --card-image-w: 240px;
    --card-image-h: 240px;
    --card-head-p: 1.5rem 1rem;
    --card-body-p: 1.5rem 1rem;
    --card-foot-p: 1.5rem 1rem;
  }
  .card-body {
    text-align: left;
  }
}
