.blog {
  width: clamp(320px, 80vw, 1000px);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 10;
  margin-bottom: 100px;
  @media (max-width: 320px) {
    width: 85%;
    margin: 0 auto 40px;
  }
  .section-badge {
    margin-bottom: 30px;
  }
  .page-head {
    .page-image {
      .image {
        @media (max-width: 320px) {
          object-fit: unset;
        }
      }
    }
  }

  .section-title {
    @media (max-width: screen-size(sm)) {
      font-size: clamp(20px, 80vw, 25px);
    }
  }
}
